* {
    font-family: Helvetica;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: white;
}
input[type=text], input[type=email]{
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
}
textarea {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
}
body{
    background-color:grey;
}
.wrapper {
    width: 50%;
    margin: auto;
    background-color:white;
    z-index:-1;
    height:85vh;
}
.container {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-bottom: 10px;
}
ul.nav {
    border: 1px solid lightgray;
    border-top: 0px;
    height: 100px;
    height: 100%;
    background-color: #619AE6;
    list-style: none;
    border-radius: 0px 0px 300px 300px / 0px 0px 50px 60px;
    color: white;
    line-height: 36px;
    text-align: center;
    margin-top: -8px;
    margin-bottom:0;
}
ul.nav li {
    float: left;
    margin: auto;
}
ul.nav a {
    display: block;
    text-align:center;
    padding: 10px;
    color: white;
    text-decoration: none;
}
ul.nav a:hover,
ul.nav li.current a {
    display: inline-block;
    color: #e5e5e5;
}
footer {
    position: absolute;
    border-radius: 2px;
    padding: 5px;
    right: 4px;
    bottom: 0;
    width: 99%;
    height: 30px;
    background: #619AE6;
    /*background: #EE2E24;*/
    /* background: #32A23D;*/
    /* background: #EED011;*/
}
.centerIcon {
    text-align: center;
}
.menuItems {
    display: inline-block;
}
.contactHalf {
    display: inline-block;
    padding: 10px;
    width: 47%;
}
.contactFull {
    padding: 10px;
    width: 97%;
}
.btnOveral {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 10px;
    color: white;
    background-color: #FF7604;
}
.btnOveral:hover {
    cursor: pointer;
    opacity: 0.9;
}
.menuImage{
    Position: absolute;
    left: 30px;
    top: 30px;
    width: 13%;
    height: 20%;
    text-align:left;
}
.menuImage > img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.productDescription{
    display:inline-block;

}
#prijs{
    color:red;
    margin:0;
}
#oudeprijs{
    color:grey;
    margin:0;
    text-decoration:line-through;
}
#btnKoop{
    padding: 15px 32px;
}
#productfoto{
    display:inline-block;
    margin-right:10px;
}
#informatietekst{
    margin:20px 50px;
    margin-bottom:100px;
    text-align:justify;
}
#productinformatie{
    margin: 20px 0;
}

#fotoenbeschrijving{
    padding-left:50px;
}
#infolabel{
    margin-left:50px;
}
#reviewlabel{
    margin-left:50px;
}
.nieuwsItem {
    padding: 10px 0px;
    font-size: 90%;
}
.review{
    margin:20px 50px;
    text-align:justify;
    border:solid;
    border-color:#e5e5e5;
    border-width:1px;
    padding:30px;
}
.footerBox {
    text-align: center;
    width: 24.2%;
    display: inline-block;
    padding: 5px;
}
.footerBox > a {
    color: white;
}
.footerBox > a:hover {
    opacity: 0.9;
}
